.apexcharts-menu-open {
  background-color: var(--vt-c-divider-dark-1) !important;
}

.apexcharts-tooltip-text {
  margin-left: 10px;
}

.apexcharts-tooltip {
    background-color: black !important;
}

.apexcharts-tooltip-title {
  background-color: var(--vt-c-divider-dark-1) !important;
}

.active-tab {
  background-color: var( --vt-c-divider-dark-2);
  opacity: 1;
  color: white;
}